.footer-section {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: #29434E;
    height: 50px;
    padding: 24px;
    color: white;
    align-items: center;
    bottom: 0;
    // Reduce the size of the footer by the width of the drawer and shift it left.
    margin-left: 240px;
    width: calc(100% - 48px - 240px);

    .left-content {
        flex-grow: 1;
        flex-basis: 0;
        font-size: 0.7em;
    }

    .middle-content {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
    }

    .right-content {
        font-size: 0.7em;
        flex-grow: 1;
        flex-basis: 0;
        text-align: right;
        flex-direction: column;
    }

    a {
        color: inherit;
    }

    .logo {
        width: 80px;
    }
}

@media only screen and (max-width: 767px){
    .footer-section {
        margin-left: 0;
        width: calc(100% - 48px);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-section {
        flex-direction: column;
        margin-left: 0;
        width: calc(100% - 48px);

        .left-content {
            order: 3;
            text-align: center;
        }

        .middle-content {
            order: 1;
            // padding-bottom: 12px;
            text-align: center;
        }

        .right-content {
            order: 2;
            padding-bottom: 12px;
            text-align: center;
        }
    }
}