.MuiAppBar-root.menu-bar {
    position: fixed;
    padding: 6px 0;
    z-index: 10;

    &.MuiAppBar-colorPrimary {
        flex-grow: 1;
        background-color: #57AB6E;
        border-bottom: solid 1px #4d9e63;

        &.no-shadow {
            box-shadow: none;
            transition: box-shadow 1s;   
        }
        &.shadow {
            transition: box-shadow 1s;
        }
    }

    a {
        text-decoration: none;
    }

    .logo {
        max-width: 250px;
        width: 100%;
    }

    .MuiToolbar-root {
        justify-content: space-between;

        // .link-button {{
        //     color: white;
        //     font-weight: bold;
        //     &:hover {
        //         color: #4abae6;
        //     }
        // }

        .MuiButton-root:hover{
            background-color: unset;
        }

        .clickable-icon {
            color: white;
        }

        .authorised-email{
            color: white;
            font-size: 0.75em;
        }
    }

    // .hamburger-menu {
    //     display: none;
    //     color: white;
    //     padding: 0;
    //     min-width: 36px;
    // }
}

.MuiMenu-paper{
    width: 150px;
}

.menu-drawer {
    .MuiDrawer-paper {
        padding-bottom: 24px;
        background-color: #141414;
        color: white;

        .MuiListItem-root {
            font-weight: 600;
            font-size: 1.3em;
            color: white;
        }

        .close-icon-container {
            height: 56px;
            display: flex;
            justify-content: flex-end;
            button{
                color: white;
            }
        }

        .drawer-footer{
            text-align: center;

            img{
                width: 80px;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .MuiAppBar-root.menu-bar {
        padding: 4px 0 0 0;

        // .hamburger-menu {
        //     display: block;
        // }
    }

    .username {
        display: none;
    }    
}
