.title-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    .MuiSvgIcon-root{
        padding: 0 12px 0 0;
        
        font-size: 2em;
        &.success{
            color: #57AB6E;
        }
        &.error{
            color: red;
        }
    }
}