.filters {
    display: flex;
    flex-direction: column;

    .dropdown-wrapper {
        // flex-direction: row;
        padding-bottom: 12px;
    }

    .MuiButton-root {
        width: 200px;
    }

    h2 {
        margin-bottom: 12px;
    }

    margin-bottom: 48px;

    .MuiFormControl-root {
        min-width: 200px;
        margin-right: 48px;

        &.assigned-bdm {
            margin-right: 0px;
        }
    }

    .MuiLink-root {
        cursor: pointer;
        width: fit-content;
    }
}

/* Tablets */
@media only screen and (max-width: 767px){

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
    .filters{
        .MuiFormControl-root{
            width: 100%;
        }
        .MuiFormControl-root:not(:last-child){
            margin: 0 0 24px 0;
        }
    }

}
