.filters {
    display: flex;
    flex-direction: column;

    .dropdown-wrapper {
        // flex-direction: row;
        padding-bottom: 12px;
    }

    .MuiButton-root {
        width: 200px;
    }

    h2 {
        margin-bottom: 12px;
    }

    margin-bottom: 48px;

    .MuiFormControl-root {
        min-width: 200px;
        margin-right: 48px;

        &.assigned-bdm {
            margin-right: 0px;
        }
    }

    .MuiLink-root {
        cursor: pointer;
        width: fit-content;
    }
}
