.activity-bar-chart {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;

    .MuiCard-root {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .MuiCardContent-root {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 12px;
            align-items: center;
            justify-content: space-between;
        }

        .MuiCardActions-root {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;

            .MuiButton-root {
                color: rgb(95, 157, 226);
                font-size: 0.8em;
                padding-right: 6px;
            }
        }
    }
}
