.hero-image {
    img {
        height: 150px;
        margin: 0 0 48px 0;
    }
} 

.position-relative{
    position: relative;
    top: -70px;
}

.last-next-fixture-section{
    margin-bottom: 50px;
}

.fixture-card-div{
    margin-bottom: 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-image{
        img {
            height: 100px;
            margin: 0 0 48px 0;
        }
    }
}

