.hero-image {
    img {
        height: 150px;
        margin: 24px 0 84px;
    }
} 

.position-relative{
    position: relative;
    top: -70px;
}

.last-next-fixture-section{
    margin-bottom: -40px;
}

.fixture-card-div{
    margin-bottom: 6px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-image{
        img {
            height: 100px;
        }
    }
}

