.latest-actions {
    .MuiCard-root {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .MuiCardContent-root {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;
            align-items: center;
            justify-content: space-between;

            .MuiTableCell-root {
                a {
                    color: inherit;
                    font-weight: 500;
                }
            }
        }

        .MuiCardActions-root {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 12px 0 0 0;

            .MuiButton-root {
                color: rgb(95, 157, 226);
                font-size: 0.8em;
                padding-right: 6px;
            }
        }
    }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .hide-on-mobile {
//         display: none !important;
//     }
// }
