.total-instances-pie-chart {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 12px 0 0;

    .MuiCard-root {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h2 {
            margin: 0 0 12px 0;
        }

        .MuiCardContent-root {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 12px;
            align-items: center;

            .summary-table {
                width: 100%;
                margin-bottom: 12px;
                font-size: 0.85em;

                td.label-cell {
                    width: 50%;
                }

                td.value-cell {
                    width: 50%;
                    text-align: center;
                }

                tr.total-row {
                    font-weight: bold;
                }
            }

            table,
            th,
            td {
                border: 1px solid rgb(216, 216, 216);
                border-collapse: collapse;
            }

            .pie-chart-label{
                font-size: 0.75em;
                color: grey;
            }

            .chart-wrapper {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;
            }
        }

        .MuiCardActions-root {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            padding: 0;

            .MuiButton-root {
                color: rgb(95, 157, 226);
                font-size: 0.8em;
                padding-right: 6px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .total-instances-pie-chart {
        max-width: unset;
        width: 100%;
        margin: 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
