.active-pipeline{

    .MuiBox-root{
        padding: 24px 0;
    }
    
    .total-instances-box{
        padding-top: 0px;
        border-bottom: solid 1px #00000030;
    }
}

@media only screen and (max-width: 600px)  {
    .MuiBox-root{
        justify-content: center;
    }


}

