.fixture .button-container {
    display: flex;
    justify-content: flex-end;
}

.fixturePlayer-input-wrapper{
    border: solid 1px black;
}

.fixture-dialog-content{
    display: flex;
    flex-direction: column;
    .MuiFormControl-root{
        margin-bottom: 12px;
    }
    .table-wrapper{
        max-height: 100px;
    } 
}

.fixture-player-dialog-content{
    display: flex;
    flex-direction: column;
    .MuiFormControl-root{
        margin-bottom: 12px;
    }
}

.fixture-card{
    display: flex;
    flex-direction: row;

    .desktop-view{
        display: block;
    }

    .mobile-view{
        display: none;
    }

    .MuiCard-root{
        width: 100%;
    }

    .MuiCardContent-root{
        display: flex;
        flex-direction: row;
    }

    .team-name{
        font-weight: bold;
        font-size: 1.2em;
        padding-bottom: 10px;
    }

    .score{
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        flex-grow: 0.1;
    }

    .win {
        color: #2b9813;
    }
    
    .loss{
        color: red;
    }

    .scorers{
        padding-bottom: 10px;
        margin-left: 8px;
        a{
            color: inherit;
            text-decoration: none;
        }
    }

    .motm{
        font-style: italic;
        margin-left: 8px;
        a{
            color: inherit;
            text-decoration: none;
        }
    }

    .left-content{
        flex-grow: 1;
        flex-basis: 0;
    }

    .centre-content{
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
    }

    .right-content{
        flex-grow: 1;
        flex-basis: 0;
        text-align: right;
    }

    .kickoff-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .score-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }

    .score-kickoff-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
}

.last-next-fixture-section{
    flex-grow: 1;

    .MuiPaper-root{
        padding: 16px;
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        font-weight: bold;
        margin-bottom: 12px;
        
        &:first-child{
            margin-right: 12px;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .row{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .score{
        font-size: 1.4em;
    }

    .mobile-view{
        display: none;
    }

    .desktop-view{
        display: flex;
    }

    .win {
        color: #2b9813;
        font-weight: bold;
        font-size: 1.4em;
    }

    .loss{
        color: red;
        font-weight: bold;
        font-size: 1.4em;
    }
    
    .draw {
        font-weight: bold;
        font-size: 1.4em;
    }
}

.fixture-header{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 24px;

    .desktop-view{
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .mobile-view{
        display: none;
    }

    .team-name{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .score{
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        flex-grow: 0.1;
    }

    .scorers{
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 10px;
        margin-left: 8px;
        text-align: left;
    }

    .motm{
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        margin-left: 8px;
    }

    .left-content{
        flex-grow: 1;
        flex-basis: 0;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .centre-content{
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
    }

    .right-content{
        flex-grow: 1;
        flex-basis: 0;
    }

    .kickoff-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        font-weight: bold;
    }

    .score-wrapper{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .score-kickoff-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 800px) {
    .last-next-fixture-section{
        .MuiBox-root{
            flex-direction: column;
            align-items: stretch;
        }

        .MuiPaper-root:first-child{
            margin-right: 0;
        }
    }

    .fixture-card{
        .MuiCardContent-root{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            >div:not(:last-child){
                padding-bottom: 12px;

            }
        }

        .team-name, .scorers{
            padding-bottom: 0
        }

        .left-content, .centre-content{
            padding-bottom: 12px; 
            text-align: center          
        }

        .right-content{
            text-align: center;
        }

        .desktop-view{
            display: none;
        }

        .mobile-view{
            display: flex;
            justify-content: center;
        }

        .lightning-wrapper{
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    .fixture-header{

        .desktop-view{
            display: none;
        }

        .mobile-view{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        >div:not(:last-child){
            padding-bottom: 12px;
        }
        
        .team-name {
            font-size: 1.5em;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .scorers{
            padding-bottom: 0
        }

        .left-content, .centre-content{
            padding-bottom: 12px; 
            text-align: center          
        }

        .right-content{
            text-align: center;
        }

        .lightning-wrapper{
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .scorers, .motm, .kickoff-wrapper, .score-wrapper{
            font-size: 1em;
        }

        .kickoff-wrapper{
            margin: 12px 0;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .last-next-fixture-section{
        .label{
            display: none;
        }

        .scores{
            flex-direction: column;
        }

        .desktop-view{
            display: none;
        }

        .mobile-view{
            display: unset;
        }
    }
}
