.season-results-summary-table{
    padding: 24px;

    table{
        display: flex;
        flex-grow: 1;
        border-collapse: collapse;
        // border: solid 1px black;

        tbody {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        tr{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
        }

        tr.fixture-row:not(:last-child){
            border-bottom: 1px solid rgb(236, 236, 236);
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        td.score-cell{
            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            flex-grow: 0.1;
        }

        td.team-cell{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;

            .team-name{
                font-weight: bold;
                font-size: 1.2em;
                padding-bottom: 10px;
            }

            .scorers{
                padding-bottom: 10px;
            }

            tr.scorer-row{
                padding-left: 8px;
            }

            tr.motm-row{
                padding-left: 8px;
                font-style: italic;
            }
        }

        td.opposition{
            text-align: right;
        }
    }
}

.current-season-wrapper{
    margin-bottom: 48px;
}


.fixture-card-div{
    display: flex;
    flex-direction: row;
    align-items: center;

    .fixture-card{
        display: flex;
        flex-grow: 1;
    }
}

.season-header{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;

    img{
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        padding: 0 24px;

    }

    .season-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .title{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .sub-title{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 24px;
    }
}

.season-card-div{
    display: flex;
    flex-direction: row;
    align-items: center;

    .season-card{
        display: flex;
        flex-grow: 1;
        margin-bottom: 12px;

        .MuiCard-root{
            width: 100%;

            .MuiCardContent-root{
                display: flex;
                flex-direction: row;

                .left-content{
                    flex-grow: 1;
                    flex-basis: 0;
                }
        
                .centre-content{
                    display: flex;
                    flex-grow: 1;
                    flex-basis: 0;
                    justify-content: center;
                }
        
                .right-content{
                    flex-grow: 1;
                    flex-basis: 0;
                    text-align: right;
                }
            }  
        }
    }
}


@media only screen and (max-width: 600px) {
    .season-header{
        flex-direction: column;
        align-items: center;

        img{
            max-width: 150px;
            max-height: 150px;
            padding: 0;
            margin-bottom: 24px;
        }

        .season-info{
            align-items: center;
        }
    }

    .season-card-div{
        .season-card{
            .MuiCard-root{
                .MuiCardContent-root{
                    flex-direction: column;
                    align-items: center;

                    .left-content, .centre-content, .right-content{
                        text-align: center;

                        &>h5{
                            margin: 6px;
                        }
                    }
                }
            }
        }
    }
}