.settings{
    .MuiCard-root{
        margin: 0 0 12px 0;

        .MuiCardContent-root{
            display: flex;
            padding: 6px 12px;
            align-items: center;

            span.activity-name{
                font-weight: bold;
                width: 200px
            }
            
            .sla-wrapper{
                display: flex;
                flex-grow: 1;
                flex-direction: row;
                justify-content: space-evenly ;
                align-items: center;
            }
        }
    } 
}