.player-header{
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        padding: 0 24px;

    }

    .player-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .title{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 24px;
    }

    .sub-title{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 24px;
    }
}

.stats-table-wrapper{
    width: 100%;
    margin-top: 24px;
    overflow-x: auto;

    table{
        table-layout: fixed;

        .MuiTableRow-root.total{
            td{
                font-weight: bold;
            }  
        }

        .MuiTableCell-root{
            text-align: right;

            &.align-left{
                text-align: left;
            }

            &.total{
                font-weight: bold;
            }
        }

        .firstTableHeaderCell {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .tableHeaderCell {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
        }
    }
}

table a{
    color: inherit;
    text-decoration: none;
}

.hide-on-desktop{
    display: none;
}



@media only screen and (max-width: 600px) {
    .player-header{
        flex-direction: column;
        align-items: center;

        .player-info{
            align-items: center;
        }
    }

    .stats-table-wrapper{
        table{
            .tableHeaderCell {
                justify-content: center;
            }

            .firstTableHeaderCell {
                justify-content: center;
            }

            .MuiTableCell-root{
                text-align: center;
    
                &.align-left{
                    text-align: center;
                }
            }
        }
    }

    .MuiTableCell-root.hide-on-mobile{
        display: none;
    }

    .hide-on-desktop{
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .player-header{
        img{
            width: 150px;
            height: 150px;
            padding: 0 24px;
        }

        .player-info{
            align-items: center;
        }
    }

}

