.full-height-content {
    // min-height: calc(100vh - 76px - 98px); /* will cover the 100% of viewport minus footer and header */
    // min-height: calc(100vh - 198px); /* will cover the 100% of viewport minus footer and header */
    min-height: calc(100vh - 222px); /* will cover the 100% of viewport minus footer and header */
    max-width: 1100px;
    overflow: hidden;
    display: block;
    padding-bottom: 24px;
    padding: 76px 24px 48px 24px;
    margin: auto;
}

.root{
    display: flex;

    main{
        width: 100%;
        // background-color: #fafafa;
        background-color: #efefef;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        padding: 100px 12px 12px 12px;
    }

    .full-height-content {
        min-height: calc(100vh - 183px); /* will cover the 100% of viewport minus footer */
    }
}
@media only screen and (min-width: 1500px) {
    .full-height-content {
        padding: 76px 125px 48px 24px;
    }
}
