.full-height-content {
    min-height: calc(100vh - 198px); /* will cover the 100% of viewport minus footer and header */
    max-width: 960px;
    overflow: hidden;
    display: block;
    padding-bottom: 24px;
    padding: 76px 24px 24px 24px;
    margin: auto;
}

.root{
    display: flex;

    main{
        width: 100%;
        background-color: #fafafa;
    }
    
}

.left-drawer{
    // display: flex;
    width: 240px;
    flex-shrink: 0;
    z-index: 1000;
}

.drawer-paper{
    width: 240px;
}

.drawer-container{
    overflow: auto;

    .MuiList-root{
        padding-top: 78px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        padding: 100px 12px 12px 12px;
    }

    .full-height-content {
        min-height: calc(100vh - 183px); /* will cover the 100% of viewport minus footer */
    }
}
