
.breadcrumb-wrapper {
    .home-icon-wrapper{
        a {
            position: relative;
            top: 7px;
            left: 1px;
            svg{
                font-size: 1.3em;
            } 
        }
    } 
}
