@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    85% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.activity-card.MuiCard-root {
    display: flex;
    align-items: center;
    max-width: 260px;
    margin: 12px;
    text-align: center;
    opacity: 0; //must start invisible
    animation: FadeIn 0.2s linear;
    animation-fill-mode: forwards;

    a {
        text-decoration: none;
        color: black;
    }

    .MuiCardContent-root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        span {
            padding: 0 12px;

            &.activity-label {
                // font-size: larger;
            }

            &.instance-count {
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        .icon-wrapper {
            margin-bottom: 24px;
            background-color: #57ab6e;
            border-radius: 50%;
            padding: 12px;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

            .MuiSvgIcon-root {
                font-size: 2em;
                color: white;
            }
        }

        .rag-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 24px;
            color: white;
            font-weight: bold;
            font-size: 0.7em;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
            

            >*{
                display: flex;
                flex-grow: 1;
                padding: 6px 2px;
                text-align: center;
                flex-direction: column;
            }

            .green{
                background-color: #57ab6e;
                // color:black;
                border-radius: 2px 0 0 2px;
            }

            .amber{
                background-color: #FF8C42;
                
            }

            .red{
                background-color: #EE6055;
                border-radius: 0 2px 2px 0;
            }
        }
    }
}

.activity-card.MuiCard-root:hover {
    position: relative;
    top: -1px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
